[submodule "Libs/LibUsbDotNet"]
	path = Libs/LibUsbDotNet
	url = https://github.com/exelix11/LibUsbDotNet.git
[submodule "Libs/SharpRTSP"]
	path = Libs/SharpRTSP
	url = https://github.com/exelix11/SharpRTSP.git
[submodule "Libs/FFmpeg.AutoGen"]
	path = Libs/FFmpeg.AutoGen
	url = https://github.com/exelix11/FFmpeg.AutoGen.git
